@import 'confiq';
@import 'utilies';
@import 'about';
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
body{
	font-family: $font-family;
	line-height: 1.4;
}
a{
	text-decoration: none;
	color: #333;
}
ul{
	list-style: none;
}
header{
	.main-nav{
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 1.5rem 0;
			.logo{
				margin-right: auto;
				.fas{
					color:$primary-color;
					font-size: 2.3rem;
					
				}
				h3{
					font-size: 1.7rem;
					font-style: italic;
					
				}
			}
			nav a{
				padding: 0.8rem 1rem;
				font-weight: 600;
				color: #333;
				&:hover{
					text-decoration: underline;
					
				}
			}
			.icon .fas{
				background: #eeecec;
				margin-right: 1rem;
				font-size: .75rem;
				width: 50px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				border-radius: 50%;
				border: 2px solid #ccc;
				
			}
			ul{
				display: flex;
				align-items: center;
				padding: 0 2rem;
			}
	}
	.btn-primary:hover{
		opacity: .8;
	}
}

#home{
	&-a{
		.Served{
			display: flex;
			align-items: center;
			justify-content: center;
			// position: relative;
			
		
			.content{
				max-width: 30rem;
			}
			h3{
				font-size: 2rem ;
				.far{
					color: $primary-color;
				}
			}
			p{
				padding: 1rem 0;
			}
			.image {
				position: relative;
			}
			.image img{
				width: 100%;
				object-fit: cover;
			}
			ul{
				position: absolute;
				top: 30%;
				right:0;
				margin-left: 5rem;
				
				.list{
					line-height: 2.5;
					
				
					.fas{
						background: coral;
					}
					.fas{
						margin-right: .5rem;
						width: 30px;
						height: 30px;
						line-height: 30px;
						text-align: center;
						border-radius: 50%;
						border: 1px solid #ccc;
						
					}
					
						
					}
				
				

			}
			.btn{
				display: flex;
				align-items: center;
				gap: 1.2rem;
			}
			.search-box {
				width: 130px;
				height: 40px;
				border: 2px solid $primary-color;
				position: relative;
				border-radius: 50px;
				input{
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					width: 100%;
					border: none;
					outline: none;
					background: transparent;
					padding: 0 2rem;
					font-size: 1rem;
					font-weight: 500;
				}
				label{
					position: absolute;
					top: 0;
					left: 0;
					width: 40px;
					height: 100%;
					.fas{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					
					}
				}
			}
		}
	}
	&-b{
		.service {
			display: flex;
			align-items: center;
			gap: 1.2rem;
			p{
				padding: 1rem 0;
			}
			.content{
				width: 40rem;
			}
			img{
				width: 70%;
				object-fit: cover;
			}
			.column{
				line-height: 2;
				display: flex;
				gap: 2rem;
				
				.fas{
					margin-right: 1rem;
					color: $primary-color;
				}
			}
			.btn-primary{
				margin-top: 1rem;
			}
		}
	}
	&-c{
		.items{
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
			gap: 1.2rem;
			.section-title{
				margin: 1rem 0;
			}
			img{
				width: 100%;
				height: 15rem;
				object-fit: cover;
				padding: 1rem 0;
				border-radius: .5rem;
				display: block;
				
			}
			.fas{
				color: $primary-color;
				padding: .4rem 0;
			}
			.btn{
				margin-right: 1rem;
				&-light:hover{
					background:  $primary-color ;
				}
			}
			ul{
				margin: 1rem 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			
		}
	}
}

// Footer 


#main-footer {
 
   .footer {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	input{
		width: 80%;
		padding: .5rem 0;
		border: none;
		outline: none;
		border-bottom: 1px solid #ccc;
	   
	}
	div  .fas{
	  font-size: .9rem;
	  margin-left: .2rem;
	  background: $primary-color;
	  width: 20px;
	  width: 20px;
	  line-height: 20px;
	  border-radius: 50%;
	  text-align: center;
	  
		  }
		  .icons .fab{
			  font-size: .8rem;
			  margin: .3rem;
			  width: 20px;
			  width: 20px;
			  border: .5px solid #333;
			  border-radius: 50%;
			  line-height: 20px;
			  text-align: center;
		}
	h3 {
	  font-size: 2rem;
	  
	}
	 .footer .icons .fab {
	  margin-left: 0.5rem;
	  padding: 0.8rem 0;
	  font-size: 1.4rem;
	  color: #085c5c;
	}
	li{
		list-style: none;
		line-height: 2;
	}
	
  
  }

}


